<div class="container" id="contact">


  <main class="main">
    <h2 class="topic bold underlinded">Entre em contato</h2>

    <div class="form-box">
      <!-- contato via formulário -->
      <form class="form flex sp-between f-col" lang="pt-br">

        <label for="name">Nome *</label>
        <input type="text" id="name" name="name" required>

        <label for="email">E-mail *</label>
        <input type="email" name="email" id="email" required>

        <label for="message">Mensagem *</label>
        <textarea name="messsage" id="messsage" required></textarea>

        <button class="btn">Enviar mensagem</button>
      </form>
    </div>
    <div class="thanks-box">
      <i>"O cavalo prepara-se paro o dia da batalha, mas a vitória vem do SENHOR." </i>
      <i>Pv. 21:31</i>
    </div>
  </main>
</div>
