.main {
  flex-direction: column;

  h2 {
    align-self: flex-start;
  }
}

.skill {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;

  .skill-info {
    width: 100%;
    padding: 0.5rem 2.5%;

  }

  .percentage {
    width: 100%;
    display: block;
    height: 30px;
    background: var(--space-cadet);
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0px 2px 15px 0px #050810;


    &:hover {
      transform: scale(1.05);
    }


    .adv,
    .med,
    .beg {
      background: linear-gradient(90deg, rgba(28, 37, 65, 1) 0%, rgba(0, 115, 181, 1) 0%, rgba(112, 202, 226, 1) 53%, rgba(175, 255, 249, 1) 100%);
      display: block;
      height: 30px;
      border-radius: 15px;



    }


    .adv {
      width: 75%;
    }

    .med {
      width: 50%;
    }

    .beg {
      width: 25%;
    }
  }


}

// media
@media (max-width:700px) {

  .skill-info {
    flex-direction: row;
    justify-content: space-between;

  }
}