<div class="container" id="skills">
  <main class="main">
    <h2 class="topic bold underlinded">Habilidades</h2>


      <div class="skill">
        <div class="skill-info flex a-center sp-between">
          <span>Html</span>
          <span>Avançado</span>
        </div>
          <div class="percentage ">
            <div class="adv"></div>
          </div>

        <div class="skill-info flex a-center sp-between">
          <span>CSS, Sass, Bootstrap & TailwindCSS</span>
          <span>Avançado</span>
        </div>
          <div class="percentage ">
            <div class="adv"></div>
          </div>

        <div class="skill-info flex a-center sp-between">
          <span>JavaScript, TypeScript</span>
          <span>Intermediário</span>
        </div>
          <div class="percentage ">
            <div class="med"></div>
          </div>

          <div class="skill-info flex a-center sp-between">
            <span>Inglês</span>
            <span>Avançado</span>
          </div>
            <div class="percentage ">
              <div class="adv"></div>
            </div>

        <div class="skill-info flex a-center sp-between">
          <span>PO-UI TOTVS</span>
          <span>Intermediário</span>
        </div>
          <div class="percentage ">
            <div class="med"></div>
          </div>

        <div class="skill-info flex a-center sp-between">
          <span>Angular</span>
          <span>Iniciante</span>
        </div>
          <div class="percentage ">
            <div class="beg"></div>
          </div>

        <div class="skill-info flex a-center sp-between">
          <span>UI Design no Figma</span>
          <span>Intermediário</span>
        </div>
          <div class="percentage ">
            <div class="beg"></div>
          </div>

          <div class="skill-info flex a-center sp-between">
            <span>Git, GitHub & Vercel</span>
            <span>Avançado</span>
          </div>
            <div class="percentage ">
              <div class="adv"></div>
            </div>
      </div>
  </main>
  <span class="divisor"></span>

</div>
