<div class="container" id="about">
  <h2 class="topic bold underlinded">Sobre Mim</h2>

    <main class="main">

     <div>
      <p>
        Meu nome é Davi Estrella, tenho 18 anos e sou Desenvolvedor Frontend e apaixonado por tecnologias.
      </p>

      <p>Trabalhei como vendedor desde os 16 e isso me ensinou muitas coisas, como honestidade, persuasão, carisma e profissionalismo. Aprender a separar o pessoal do profissional é importante demais...</p>
      <p>
        Fazendo freelancers de design aprendi bastante sobre conceitos de paletas de cores, ornamentação e organização de cada arte.</p>
      <p>
        Toda essa bagagem vem me ajudando bastante no Desenvolvimento Web e, ligada com o conhecimento do inglês, vem abrindo portas e me permitindo adquirir conhecimento mais rápido e de forma mais efetiva.
        </p>
        <p>
          Tenho facilidades com aprendizado e aprendo bem rápido qualquer coisa, assim foi com o inglês e, também, com o espanhol. Agora está sendo com o Desenvolvimento Web.</p>
      </div>
    <div>
      <img src="/assets/header.png" alt="">
    </div>
  </main>
  <span class="divisor"></span>
</div>

<router-outlet></router-outlet>
