.container {
  main {
    flex-direction: column;

    h2 {
      align-self: flex-start;
      margin: 30px 0;
    }
  }


  p {

    &::before {
      content: '</>';

      color: var(--verdigris);
      font-weight: 900;
    }
  }

  img {
    width: 400px;
  }

}