.container {
  .main {
    flex-direction: column;

    .about-container {
      width: 100%;
    }

    h2 {
      align-self: flex-start;
      margin: 30px 0;
    }
  }


  p {

    &::before {
      content: '</>';

      color: var(--verdigris);
      font-weight: 900;
    }
  }

  img {
    width: 400px;
  }

}

@media (max-width:900px) {
  .main {
    .about-container {
      flex-direction: column;

      div {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
          width: 90%;
        }
      }
    }
  }
}