
<div class="container">
  <app-home></app-home>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-contact></app-contact>

  <div class="upper flex a-center jc-center">
    <a href="#">UP</a></div>

<script>

  function toggleNavBar(){

    const toggle = document.getElementById('toggle');
    const navBar = document.getElementById('nav-bar');

    toggle?.classList.toggle("active");
    navBar?.classList.toggle("toggle");

  }

</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>

