header {
  background: var(--oxford-blue);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 100;
  box-shadow: 0px 0px 15px 0px #050810;
  margin: 0 auto;

  nav {
    width: 100%;
    padding: 0 7%;
    margin: 0 auto;
    position: relative;
    max-width: 1500px;


    // .logo {
    //   --bg-site: 400%;
    //   color: transparent;
    //   background-clip: text;
    //   background: linear-gradient(90deg,
    //       var(--verdigris),
    //       var(--white),
    //       var(--verdigris)) 0 0 / var(--bg-size) 100%;

    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    //   animation: move-bg linear 2s infinite;
    //   display: inline-block;

    // }
    .logo {
      --bg-size: 400%;

      font-size: 2rem;
      background: linear-gradient(90deg,
          var(--oxford-blue),
          var(--verdigris),
          var(--white)) 0 0 / var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: move-bg 12s infinite linear;
    }

    .toggle-active {
      display: none;
      right: 30px;
      position: relative;
    }

    ul {
      li {
        margin: 0 10px;
        font-size: 1.15rem;


        a {
          transition: 0.3s;

          &:hover {
            border-bottom: 2px solid var(--verdigris);

          }
        }


      }

      svg {
        width: 25px;
        height: 25px;
        color: var(--white);
      }
    }

    .social {
      li {
        transition: 0.3s;

        &:hover {
          transform: scale(1.25);
        }

        &:active {
          transform: scale(0.9);
        }

        a {
          &:hover {
            border: 0;
          }
        }
      }
    }
  }
}

main {

  h1 {
    font-size: 2.6rem;
    margin-bottom: .3rem;

    .dev-skills {
      color: var(--verdigris);
    }
  }

  p {
    max-width: 80%;
    margin-bottom: 1.5rem;
    letter-spacing: 0.07rem;
    font-size: 1.2rem;
  }

  .btn {
    padding: 10px 40px;
    z-index: 2;
  }

  img {
    width: 300px;
    border-radius: 50%;
    border: 10px solid var(--verdigris);
    box-shadow: 0px 0px 15px 0px #050810;
    position: relative;
    animation: floaImg 4s linear infinite;
    margin: 30px 0;

  }
}

.waves {
  display: block;

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }



}


// media header nav ((mobile))
@media (max-width:1250px) {

  .toggle-active {
    display: none;

  }

  .main {
    h1 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
    }

    div {
      img {
        width: 260px;
      }
    }
  }

}


@media (max-width:990px) {


  header {
    ul.social {
      display: none;
    }
  }

  .main {
    .home-box {
      flex-direction: column;

      div {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    h1 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.3rem;
      letter-spacing: 0.06rem;
      width: 100%;
      text-align: center;
    }

    div {
      img {
        width: 260px;
      }
    }
  }

}

@media (max-width:650px) {
  .toggle-active {
    display: inline-block;
    margin-right: 30px;
  }

  .main {
    .home-box {
      flex-direction: column;
      padding-top: 3rem;

      div {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    h1 {
      font-size: 1.9rem;

    }

    p {
      font-size: 1.3rem;
      letter-spacing: 0.06rem;
      width: 100%;
      text-align: center;
    }

    div {
      img {
        width: 60%;
      }
    }
  }

}

@media (max-width:700px) {
  header {
    justify-content: flex-end;
    padding: 0;
    transition: 0.3s;


    ul {
      display: none;

    }

    ul.active {
      display: flex;
      align-items: center;
      position: absolute;
      width: 100vw;
      background: var(--white);
      top: 50px;
      padding: 1rem 2rem;
      margin: 0;
      left: 0;

      a {
        color: var(--verdigris);
        font-weight: bold;

      }

    }

    .opened,
    .closed {
      background-size: cover;
      background-position: center;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      transition: 0.3s;


      &:hover {
        transform: rotate(180deg);
      }

    }

    .opened {
      background: url(/assets/menu.png) no-repeat;
    }

    .closed {
      background: url(/assets/close.png) no-repeat;
    }

    .toggle-active {

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 30px;

    }
  }

}