<div class="container" id="projects">

  <main class="main">
    <h2 class="topic bold underlinded">Projetos</h2>

    <div class="projects flex a-center sp-between">


      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between f-row">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>

      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>

      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>

      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>

      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>

      <div class="project-box">

        <img src="/assets/cripto.png" alt="">

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PROJETO 1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam earum quod enim veritatis quaerat </p>
          <div class="btn-box flex a-center sp-between">

            <button class="btn btn-check">Deploy</button>
            <button class="btn btn-repo">Repositório</button>
          </div>

        </div>
      </div>


    </div>
  </main>
  <span class="divisor"></span>

</div>
