<div class="container" id="projects">

  <main class="main">
    <h2 class="topic bold underlinded">Projetos</h2>

    <div class="projects flex a-center sp-between">


      <div class="project-box">

        <a href="https://pepsi-landing-page-three.vercel.app/" target="_blank">

          <img href="https://pepsi-landing-page-three.vercel.app/" target="_blank"  src="/assets/projects/pepsi.png" alt="pepsi página">
        </a>

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">PEPSI LANDING PAGE</h3>

          <p>Clonei a página da Pepsi neste projeto e desenvolvi animações, trasições e responsividade.</p>
          <div class="btn-box flex a-center sp-between f-row">

            <a href="https://pepsi-landing-page-three.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/pepsi-landing-page" target="_blank" class="btn btn-repo">Repositório</a>
          </div>

        </div>
      </div>

      <div class="project-box">
        <a href="https://calculadora-imc-destrella66.vercel.app/" target="_blank">
          <img src="/assets/projects/calculadora-imc.png" alt="Calculadora de IMC">
        </a>

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">CALCULADORA IMC</h3>

          <p>Uma calculadora de índice de massa corporal com validações em javascript e recomendações de peso.</p>
          <div class="btn-box flex a-center sp-between">

            <a href="https://calculadora-imc-destrella66.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/Calculadora-imc" target="_blank" class="btn btn-repo">Repositório</a>
          </div>

        </div>
      </div>

      <div class="project-box">

        <a href="https://todo-list-beige-one.vercel.app/" target="_blank">
          <img src="/assets/projects/todolist.png" alt="Todo-List">
        </a>

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">TO-DO LIST APP</h3>

          <p>Um app com uso de banco de dados local, onde armazena as tarefas no cache do navegador.</p>
          <div class="btn-box flex a-center sp-between">

            <a href="https://todo-list-beige-one.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/todo-list" target="_blank" class="btn btn-repo">Repositório</a>
          </div>

        </div>
      </div>


      <div class="project-box">
        <a href="https://guessing-game-alpha-ivory.vercel.app/" target="_blank">
          <img src="/assets/projects/guessing-game.png" alt="">
        </a>

        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">JOGO DE ADVINHAR</h3>

          <p>Um app de advinhar um número de 1 - 10 escolhido pelo programa. Uma mensagem a cada jogada.</p>
          <div class="btn-box flex a-center sp-between">

            <a href="https://guessing-game-alpha-ivory.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/Guessing-Game" target="_blank" class="btn btn-repo">Repositório</a>
          </div>

        </div>
      </div>


      <div class="project-box">
        <a href="https://starbucks-lime.vercel.app/" target="_blank">
          <img src="/assets/projects/starbucks.png" alt="starbucks página">
        </a>


        <div class="project-info flex sp-between a-center f-col">

          <h3 class="underlinded">STARBUCKS CLONE</h3>
          <p>Um clone do Starbucks neste projeto com animações nos copos, trasições e responsividade.</p>

          <div class="btn-box flex a-center sp-between">

            <a  href="https://starbucks-lime.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/starbucks-clone" target="_blank" class="btn btn-repo">Repositório</a>
          </div>

        </div>
      </div>

      <div class="project-box">
        <a href="https://convites-digitais.vercel.app/" target="_blank">
          <img src="/assets/projects/convites-digitais.png" alt="Página Incial Netflix">
        </a>
        <div class="project-info flex sp-between a-center f-col">
          <h3 class="underlinded">CONVITES DIGITAIS</h3>
          <p>Startup em desenvolvimento para criar convites e páginas para eventos festivos.</p>
          <div class="btn-box flex a-center sp-between">
            <a href="https://convites-digitais.vercel.app/" target="_blank" class="btn btn-check">Deploy</a>
            <a href="https://github.com/destrella66/ConvitesDigitais" target="_blank" class="btn btn-repo">Repositório</a>
          </div>
        </div>
      </div>


    </div>
  </main>
  <span class="divisor"></span>

</div>
