.main {
  flex-direction: column;

  h2 {
    align-self: flex-start;
  }
}

.projects {
  width: 90%;
  height: 100%;
  flex-wrap: wrap;


  .project-box {
    width: 30%;
    padding: 20px 10px;
    border: 2px solid var(--verdigris);
    border-radius: 5px 20px 5px 20px;
    transition: 0.3s;
    margin: 15px;
    box-shadow: 3px 3px 15px 0px #050810;

    &:hover {
      border-color: var(--white);
    }

    img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .project-info {
      text-align: center;

      p {
        width: 90%;
        margin: 0.7rem 0;
      }

      .btn-box {
        width: 100%;

        .btn-check,
        .btn-repo {
          padding: 5px 20px;
          margin: 0 10px;
        }
      }
    }
  }

}

// media


@media (max-width:1250px) {
  .projects {

    .project-box {
      width: 40%;

      .project-info {
        .btn-box {
          width: 100%;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }

  }
}

@media (max-width:940px) {
  .projects {

    justify-content: center;


    .project-box {
      width: 70%;

      .project-info {
        .btn-box {
          width: 100%;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }

  }
}


@media (max-width:700px) {
  .projects {

    .project-box {
      width: 80%;

      .project-info {
        .btn-box {
          width: 100%;
          flex-direction: row;
        }
      }
    }

  }
}